<div class="contact">
  <div class="contact-plug ">
    <h4>ATLANI Julien</h4>
    <p>
      Tel. : 0621134044
    </p>
    <p>
      <a href="mailto:contact@artfmr.fr" class="email">Email : contact@artfmr.fr</a>
    </p>
  </div>

</div>
