<%# ----------------------FAQ GUEST USERS------------------- %>
<% if @current_user.nil? %>
  <div class="container">
<h1>Aide et Assistance</h1>
<h3 mb-3" >Vous avez des questions ? Nous sommes là pour vous aider.</h3>
  <h3> En tant qu'art lover :</h3>
  <h4 class="mt-3"> Achats & Locations</h4>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Je souhaite louer une oeuvre, comment faire ?
            </button>
          </h5>
        </div>

        <div
          id="collapseOne"
          class="collapse show"
          aria-labelledby="headingOne"
          data-parent="#accordion"
        >
          <div class="card-body">
            Premièrement, renseignez votre adresse de domicile sur votre profil dans
            « modifier le profil » puis « adresse postale », puis rendez-vous sur
            l’icône « Map » dans la barre du bas de l’application. Nous allons vous
            géo localiser pour que vous puissiez découvrir les artistes exerçants à
            proximité de votre domicile. Vous pourrez également découvrir
            l’intégralité des œuvres disponibles à la location des artistes présents
            sur la carte. Il vous suffira de sélectionner l’une de ses œuvres et de
            procéder au paiement de la location. Cette offre contractuelle d’un mois
            renouvelable vous coutera 50 € par mensualité.
          </div>
        </div>

        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              Puis-je acquérir l’œuvre que j’ai loué ?
            </button>
          </h5>
        </div>
        <div
          id="collapseFour"
          class="collapse"
          aria-labelledby="headingFour"
          data-parent="#accordion"
        >
          <div class="card-body">
            Il est possible que vous ayez eu un coup de cœur une fois l’œuvre chez
            vous, vous pouvez bien entendu l’acheter. Deux possibilités s’offrent à
            vous : 1) Procédez instantanément à l’achat de l’œuvre depuis
            l’application dans « vos locations en cours », le prix de là (ou des)
            location(s) sera(ont) déduit(s) du prix de vente 2) Achetez l’œuvre en
            leasing en renouvelant chaque mois la location. Par exemple, si le prix
            de l’œuvre est de 500 €, il vous faudra renouveler la location de
            l’œuvre sur 10 mois.
          </div>
        </div>

        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
              Je souhaite prolonger d’un mois ma location en cours
            </button>
          </h5>
        </div>
        <div
          id="collapseFive"
          class="collapse"
          aria-labelledby="headingFive"
          data-parent="#accordion"
        >
          <div class="card-body">
            Il vous suffit de vous rendre dans « vos locations en cours » et de
            renouveler la location de l’œuvre d’un mois, vous procèderez directement
            au paiement de ce renouvèlement de location.
          </div>
        </div>

        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
              Je souhaite mettre fin à une location en cours
            </button>
          </h5>
        </div>
        <div
          id="collapseSix"
          class="collapse"
          aria-labelledby="headingSix"
          data-parent="#accordion"
        >
          <div class="card-body">
            Il vous suffit de vous rendre dans « vos locations en cours » et de
            mettre un terme à la location. L’artiste sera informé de votre choix et
            conviendra avec vous d’un jour et horaire de décrochage de l’œuvre.
          </div>
        </div>

        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseSeven"
              aria-expanded="true"
              aria-controls="collapseSeven"
            >
              Est-il possible de cumuler plusieurs locations à la fois ?
            </button>
          </h5>
        </div>

        <div
          id="collapseSeven"
          class="collapse show"
          aria-labelledby="headingSeven"
          data-parent="#accordion"
        >
          <div class="card-body">
            Oui, il est possible d’avoir plusieurs œuvres d'artistes différents au même moment.
          </div>
        </div>

        

        <div class="card-header" id="headingNine">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseNine"
              aria-expanded="false"
              aria-controls="collapseNine"
            >
              Que faire si l’artiste ne me contacte pas suite à une location ?
            </button>
          </h5>
        </div>
        <div
          id="collapseNine"
          class="collapse"
          aria-labelledby="headingNine"
          data-parent="#accordion"
        >
          <div class="card-body">
            Vous avez loué une œuvre mais vous n’avez pas de nouvelle de l’artiste
            après 48 heures, entrez en contact avec notre service client par mail
            sur l’adresse « contact@artfmr.fr ». Nous nous approcherons au plus vite
            de l’artiste pour qu’il entre en contact avec vous.
          </div>
        </div>

        <div class="card-header" id="headingTen">
          <h5 class="mb-0">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseTen"
              aria-expanded="true"
              aria-controls="collapseTen"
            >
              Pourquoi me demande-t-on caution lors d’une souscription à une
              location ?
            </button>
          </h5>
        </div>

        <div
          id="collapseTen"
          class="collapse show"
          aria-labelledby="headingTen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Vous êtes sur le point d’héberger à votre domicile l’œuvre d’un artiste,
            une assurance sous la forme d’une caution non encaissable du prix de
            l’œuvre est exigée, elle sera rendue au retour de l’œuvre, et sera
            encaissée en cas de non-restitution du bien ou en cas de sinistre (en
            fonction des frais de restauration de l’œuvre) Un constat d’état est
            fait à la livraison et à l’enlèvement de l’œuvre par l’artiste et vous.
            Si des dégradations sont constatées, elles seront facturées ou retenues
            de la caution. En cas de dommage, le preneur se doit de prévenir
            l’artiste au plus vite. Ne prenez en aucun cas l’initiative de la
            restauration de l’œuvre.
          </div>
        </div>

        <div class="card-header" id="headingElweThirteen">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseElweThirteen"
              aria-expanded="false"
              aria-controls="collapseElweThirteen"
            >
              Un sinistre est arrivé à l’œuvre que je loue actuellement, que dois-je
              faire ?
            </button>
          </h5>
        </div>
        <div
          id="collapseElweThirteen"
          class="collapse"
          aria-labelledby="headingElweThirteen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Contactez immédiatement l’artiste, il pourra constater les dégâts et
            faire les démarches d’expertise du sinistre. Une partie ou la totalité
            de la caution sera encaissé en fonction de l’expertise.
          </div>
        </div>

        <div class="card-header" id="headingThirteen">
          <h5 class="mb-0">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseThirteen"
              aria-expanded="true"
              aria-controls="collapseThirteen"
            >
              Toutes les œuvres sont-elles disponibles sur ART FMR ?
            </button>
          </h5>
        </div>

        <div
          id="collapseThirteen"
          class="collapse show"
          aria-labelledby="headingThirteen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Sur ART FMR, chaque œuvre postée par un artiste est automatiquement mise
            en vente. En revanche, il se peut que certaines d’entre elles soient
            déjà exposé chez nos clients. Une pastille « œuvre vendue ou louée » est
            alors affichée sur le descriptif de l’œuvre, ce qui indique qu’elle
            n’est actuellement pas disponible à l’achat mais qu’il se peut qu’elle
            le soit prochainement.
          </div>
        </div>
      </div>
    </div>
  

  <%# ------------------------LIVRAISON ET RETOURS-------------- %>
<div class="container">
  <h3 class="mt-3"> Livraisons, Retours et Paiements</h3>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTweTwo"
            >
              Les paiements sont-ils sécurisés ?
            </button>
          </h5>
        </div>
        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="headingTwo"
          data-parent="#accordion"
        >
          <div class="card-body">
            Oui, toutes transactions passent par la solution de paiement en ligne
            Stripe, qui assure la sécurité de vos paiements en ligne.
          </div>
        </div>

        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Comment se passe la livraison d'une mes oeuvres si elle est louée?
            </button>
          </h5>
        </div>
        <div
          id="collapseThree"
          class="collapse"
          aria-labelledby="headingThree"
          data-parent="#accordion"
        >
          <div class="card-body">
            Sur ART FMR, chaque artiste est autonome, nous ne gérons pas l’envoi ni les retour des
            œuvres, c’est à l’artiste et à l'art lover de s’en charger. <br> 
            Lorsque vous recevez un
            paiement de l’œuvre, vous devrez immédiatement vous se charger de l’emballage et de l’envoi de l’œuvre,
            les délais de livraison dépendent de la distance entre vous et
            l'art lover. <br> 
            Prévoyez un minimum de 15 jours entre l’achat et la réception
            de l’œuvre.
          </div>
        </div>

        <div class="card-header" id="headingFSixteeneen">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseFSixteeneen"
              aria-expanded="false"
              aria-controls="collapseFSixteeneen"
            >
              Dois-je payer des frais de livraison si j’achète une œuvre ?
            </button>
          </h5>
        </div>
        <div
          id="collapseFSixteeneen"
          class="collapse"
          aria-labelledby="headingFSixteeneen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Le prix affiché de l’œuvre est le prix final de votre achat, l’artiste
            prend en charge la livraison.
          </div>
        </div>
      </div>
    </div>
  
<%# --------------ART-LOVER FAQ-------------- %>

<% elsif @current_user.artist == false %>
<div class="container">
<h1>Aide et Assistance</h1>
<h3 mb-3" >Vous avez des questions ? Nous sommes là pour vous aider.</h3>
  <h3 c> En tant qu'art lover :</h3>
  <h4 class="mt-3"> Achats & Locations</h4>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Je souhaite louer une oeuvre, comment faire ?
            </button>
          </h5>
        </div>

        <div
          id="collapseOne"
          class="collapse show"
          aria-labelledby="headingOne"
          data-parent="#accordion"
        >
          <div class="card-body">
            Premièrement, renseignez votre adresse de domicile sur votre profil dans
            « modifier le profil » puis « adresse postale », puis rendez-vous sur
            l’icône « Map » dans la barre du bas de l’application. Nous allons vous
            géo localiser pour que vous puissiez découvrir les artistes exerçants à
            proximité de votre domicile. Vous pourrez également découvrir
            l’intégralité des œuvres disponibles à la location des artistes présents
            sur la carte. Il vous suffira de sélectionner l’une de ses œuvres et de
            procéder au paiement de la location. Cette offre contractuelle d’un mois
            renouvelable vous coutera 50 € par mensualité.
          </div>
        </div>

        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              Puis-je acquérir l’œuvre que j’ai loué ?
            </button>
          </h5>
        </div>
        <div
          id="collapseFour"
          class="collapse"
          aria-labelledby="headingFour"
          data-parent="#accordion"
        >
          <div class="card-body">
            Il est possible que vous ayez eu un coup de cœur une fois l’œuvre chez
            vous, vous pouvez bien entendu l’acheter. Deux possibilités s’offrent à
            vous : 1) Procédez instantanément à l’achat de l’œuvre depuis
            l’application dans « vos locations en cours », le prix de là (ou des)
            location(s) sera(ont) déduit(s) du prix de vente 2) Achetez l’œuvre en
            leasing en renouvelant chaque mois la location. Par exemple, si le prix
            de l’œuvre est de 500 €, il vous faudra renouveler la location de
            l’œuvre sur 10 mois.
          </div>
        </div>

        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
              Je souhaite prolonger d’un mois ma location en cours
            </button>
          </h5>
        </div>
        <div
          id="collapseFive"
          class="collapse"
          aria-labelledby="headingFive"
          data-parent="#accordion"
        >
          <div class="card-body">
            Il vous suffit de vous rendre dans « vos locations en cours » et de
            renouveler la location de l’œuvre d’un mois, vous procèderez directement
            au paiement de ce renouvèlement de location.
          </div>
        </div>

        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
              Je souhaite mettre fin à une location en cours
            </button>
          </h5>
        </div>
        <div
          id="collapseSix"
          class="collapse"
          aria-labelledby="headingSix"
          data-parent="#accordion"
        >
          <div class="card-body">
            Il vous suffit de vous rendre dans « vos locations en cours » et de
            mettre un terme à la location. L’artiste sera informé de votre choix et
            conviendra avec vous d’un jour et horaire de décrochage de l’œuvre.
          </div>
        </div>

        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseSeven"
              aria-expanded="true"
              aria-controls="collapseSeven"
            >
              Est-il possible de cumuler plusieurs locations à la fois ?
            </button>
          </h5>
        </div>

        <div
          id="collapseSeven"
          class="collapse show"
          aria-labelledby="headingSeven"
          data-parent="#accordion"
        >
          <div class="card-body">
            Oui, il est possible d’avoir plusieurs œuvres d'artistes différents au même moment.
          </div>
        </div>

        

        <div class="card-header" id="headingNine">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseNine"
              aria-expanded="false"
              aria-controls="collapseNine"
            >
              Que faire si l’artiste ne me contacte pas suite à une location ?
            </button>
          </h5>
        </div>
        <div
          id="collapseNine"
          class="collapse"
          aria-labelledby="headingNine"
          data-parent="#accordion"
        >
          <div class="card-body">
            Vous avez loué une œuvre mais vous n’avez pas de nouvelle de l’artiste
            après 48 heures, entrez en contact avec notre service client par mail
            sur l’adresse « contact@artfmr.fr ». Nous nous approcherons au plus vite
            de l’artiste pour qu’il entre en contact avec vous.
          </div>
        </div>

        <div class="card-header" id="headingTen">
          <h5 class="mb-0">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseTen"
              aria-expanded="true"
              aria-controls="collapseTen"
            >
              Pourquoi me demande-t-on caution lors d’une souscription à une
              location ?
            </button>
          </h5>
        </div>

        <div
          id="collapseTen"
          class="collapse show"
          aria-labelledby="headingTen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Vous êtes sur le point d’héberger à votre domicile l’œuvre d’un artiste,
            une assurance sous la forme d’une caution non encaissable du prix de
            l’œuvre est exigée, elle sera rendue au retour de l’œuvre, et sera
            encaissée en cas de non-restitution du bien ou en cas de sinistre (en
            fonction des frais de restauration de l’œuvre) Un constat d’état est
            fait à la livraison et à l’enlèvement de l’œuvre par l’artiste et vous.
            Si des dégradations sont constatées, elles seront facturées ou retenues
            de la caution. En cas de dommage, le preneur se doit de prévenir
            l’artiste au plus vite. Ne prenez en aucun cas l’initiative de la
            restauration de l’œuvre.
          </div>
        </div>

        <div class="card-header" id="headingElweThirteen">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseElweThirteen"
              aria-expanded="false"
              aria-controls="collapseElweThirteen"
            >
              Un sinistre est arrivé à l’œuvre que je loue actuellement, que dois-je
              faire ?
            </button>
          </h5>
        </div>
        <div
          id="collapseElweThirteen"
          class="collapse"
          aria-labelledby="headingElweThirteen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Contactez immédiatement l’artiste, il pourra constater les dégâts et
            faire les démarches d’expertise du sinistre. Une partie ou la totalité
            de la caution sera encaissé en fonction de l’expertise.
          </div>
        </div>

        <div class="card-header" id="headingThirteen">
          <h5 class="mb-0">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseThirteen"
              aria-expanded="true"
              aria-controls="collapseThirteen"
            >
              Toutes les œuvres sont-elles disponibles sur ART FMR ?
            </button>
          </h5>
        </div>

        <div
          id="collapseThirteen"
          class="collapse show"
          aria-labelledby="headingThirteen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Sur ART FMR, chaque œuvre postée par un artiste est automatiquement mise
            en vente. En revanche, il se peut que certaines d’entre elles soient
            déjà exposé chez nos clients. Une pastille « œuvre vendue ou louée » est
            alors affichée sur le descriptif de l’œuvre, ce qui indique qu’elle
            n’est actuellement pas disponible à l’achat mais qu’il se peut qu’elle
            le soit prochainement.
          </div>
        </div>
      </div>
    </div>

  <%# ------------------------LIVRAISON ET RETOURS-------------- %>
<div class="container">
  <h3 class="mt-3"> Livraisons, Retours et Paiements</h3>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingTweThirteen">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseTweThirteen"
              aria-expanded="false"
              aria-controls="collapseTweThirteen"
            >
              Les paiements sont-ils sécurisés ?
            </button>
          </h5>
        </div>
        <div
          id="collapseTweThirteen"
          class="collapse"
          aria-labelledby="headingTweThirteen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Oui, toutes transactions passent par la solution de paiement en ligne
            Stripe, qui assure la sécurité de vos paiements en ligne.
          </div>
        </div>

        <div class="card-header" id="headingFourteen">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseFourteen"
              aria-expanded="false"
              aria-controls="collapseFourteen"
            >
              Comment se passe la livraison d'une mes oeuvres si elle est louée?
            </button>
          </h5>
        </div>
        <div
          id="collapseFourteen"
          class="collapse"
          aria-labelledby="headingFourteen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Sur ART FMR, chaque artiste est autonome, nous ne gérons pas l’envoi ni les retour des
            œuvres, c’est à l’artiste et à l'art lover de s’en charger. <br> 
            Lorsque vous recevez un
            paiement de l’œuvre, vous devrez immédiatement vous se charger de l’emballage et de l’envoi de l’œuvre,
            les délais de livraison dépendent de la distance entre vous et
            l'art lover. <br> 
            Prévoyez un minimum de 15 jours entre l’achat et la réception
            de l’œuvre.
          </div>
        </div>

        <div class="card-header" id="headingFSixteeneen">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseFSixteeneen"
              aria-expanded="false"
              aria-controls="collapseFSixteeneen"
            >
              Dois-je payer des frais de livraison si j’achète une œuvre ?
            </button>
          </h5>
        </div>
        <div
          id="collapseFSixteeneen"
          class="collapse"
          aria-labelledby="headingFSixteeneen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Le prix affiché de l’œuvre est le prix final de votre achat, l’artiste
            prend en charge la livraison.
          </div>
        </div>
      </div>
    </div>
  </div>

  <% elsif @current_user.artist == true %>
<%# ------------------------ Artist FAQ--------------------- %>
  <div class="container">
  <h1>Aide et Assistance</h1>
  <h3 mb-3" >Vous avez des questions ? Nous sommes là pour vous aider.</h3>
  <h3 class=" btn-md btn-primary mt-3"> En tant qu'artist</h3>
  <h3 class="mt-3"> Achats & Locations</h3>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseSeven"
              aria-expanded="true"
              aria-controls="collapseSeven"
            >
              Est-il possible de cumuler plusieurs locations à la fois ?
            </button>
          </h5>
        </div>

        <div
          id="collapseSeven"
          class="collapse show"
          aria-labelledby="headingSeven"
          data-parent="#accordion"
        >
          <div class="card-body">
            Oui, il est possible d’avoir plusieurs œuvres louées par différents utilsateurs au même moment.
            les locations en cours seront visible sur votre profil.
          </div>
        </div>

        

        <div class="card-header" id="headingNine">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseNine"
              aria-expanded="false"
              aria-controls="collapseNine"
            >
              Que faire si l'utilisateur ne me contacte pas suite à une location ?
            </button>
          </h5>
        </div>
        <div
          id="collapseNine"
          class="collapse"
          aria-labelledby="headingNine"
          data-parent="#accordion"
        >
          <div class="card-body">
            Vous avez loué une de vos œuvres mais vous n’avez pas de nouvelle de l'utilsateur
            après 48 heures, entrez en contact avec notre service client par mail
            sur l’adresse « contact@artfmr.fr ». Nous nous rapprocherons au plus vite
            de l'utilsateur pour qu’il entre en contact avec vous.
          </div>
        </div>

        <div class="card-header" id="headingTen">
          <h5 class="mb-0">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseTen"
              aria-expanded="true"
              aria-controls="collapseTen"
            >
              Quelles sont les garanties concernant la protection des oeuvres? 
            </button>
          </h5>
        </div>

        <div
          id="collapseTen"
          class="collapse show"
          aria-labelledby="headingTen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Vous êtes sur le point de louer une de vos oeuvres,
            une assurance sous la forme d’une caution non encaissable du prix de
            l’œuvre est exigée, elle sera rendue au retour de l’œuvre, et sera
            encaissée en cas de non-restitution du bien ou en cas de sinistre (en
            fonction des frais de restauration de l’œuvre) Un constat d’état est
            fait à la livraison et à l’enlèvement de l’œuvre par l’artiste et vous.
            Si des dégradations sont constatées, elles seront facturées ou retenues
            de la caution. En cas de dommage, le preneur se doit de prévenir
            l’artiste au plus vite. Ne prenez en aucun cas l’initiative de la
            restauration de l’œuvre.
          </div>
        </div>

        <div class="card-header" id="headingElweThirteen">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseElweThirteen"
              aria-expanded="false"
              aria-controls="collapseElweThirteen"
            >
              Un sinistre est arrivé à l’œuvre que je loue actuellement, que dois-je
              faire ?
            </button>
          </h5>
        </div>
        <div
          id="collapseElweThirteen"
          class="collapse"
          aria-labelledby="headingElweThirteen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Contactez immédiatement notre service client par mail
            sur l’adresse « contact@artfmr.fr » , il pourra constater les dégâts et
            faire les démarches d’expertise du sinistre. Une partie ou la totalité
            de la caution sera encaissé en fonction de l’expertise.
          </div>
        </div>

      
        <div class="card-header" id="headingThirteen">
          <h5 class="mb-0">
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target="#collapseThirteen"
              aria-expanded="true"
              aria-controls="collapseThirteen"
            >
              Toutes les œuvres sont-elles disponibles sur ART FMR ?
            </button>
          </h5>
        </div>

        <div
          id="collapseThirteen"
          class="collapse show"
          aria-labelledby="headingThirteen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Sur ART FMR, chaque œuvre postée par un artiste est automatiquement mise
            en vente. En revanche, il se peut que certaines d’entre elles soient
            déjà exposé chez nos clients. Une pastille « œuvre vendue ou louée » est
            alors affichée sur le descriptif de l’œuvre, ce qui indique qu’elle
            n’est actuellement pas disponible à l’achat mais qu’il se peut qu’elle
            le soit prochainement.
          </div>
        </div>
      </div>
    </div>
  
<%# ------------------------LIVRAISON ET RETOURS-------------- %>
<div class="container">
  <h3 class="mt-3"> Livraisons, Retours et Paiements</h3>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingTweThirteen">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseTweThirteen"
              aria-expanded="false"
              aria-controls="collapseTweThirteen"
            >
              Les paiements sont-ils sécurisés ?
            </button>
          </h5>
        </div>
        <div
          id="collapseTweThirteen"
          class="collapse"
          aria-labelledby="headingTweThirteen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Oui, toutes transactions passent par la solution de paiement en ligne
            Stripe, qui assure la sécurité de vos paiements en ligne.
          </div>
        </div>

        <div class="card-header" id="headingFourteen">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseFourteen"
              aria-expanded="false"
              aria-controls="collapseFourteen"
            >
              Comment se passe la livraison d'une mes oeuvres si elle est louée?
            </button>
          </h5>
        </div>
        <div
          id="collapseFourteen"
          class="collapse"
          aria-labelledby="headingFourteen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Sur ART FMR, chaque artiste est autonome, nous ne gérons pas l’envoi ni les retour des
            œuvres, c’est à l’artiste et à l'art lover de s’en charger. <br> 
            Lorsque vous recevez un
            paiement de l’œuvre, vous devrez immédiatement vous se charger de l’emballage et de l’envoi de l’œuvre,
            les délais de livraison dépendent de la distance entre vous et
            l'art lover. <br> 
            Prévoyez un minimum de 15 jours entre l’achat et la réception
            de l’œuvre.
          </div>
        </div>

        <div class="card-header" id="headingFSeventeeneen">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed"
              data-toggle="collapse"
              data-target="#collapseFSeventeenen"
              aria-expanded="false"
              aria-controls="collapseFSeventeenen"
            >
              Dois-je payer des frais de livraison si j’achète une œuvre ?
            </button>
          </h5>
        </div>
        <div
          id="collapseFSeventeenen"
          class="collapse"
          aria-labelledby="headingFSeventeenen"
          data-parent="#accordion"
        >
          <div class="card-body">
            Le prix affiché de l’œuvre est le prix final de votre achat, l’artiste
            prend en charge la livraison.
          </div>
        </div>
      </div>
    </div>
  </div>
  
<% end %>

