<div class="container">
  <h3>Siège social</h3>
  <p>ART EPHEMERE SAS, capital de 1000 €</p>
  <p>Entreprise immatriculée au RCS de NANTERRE</p>
  <p>Sous le numéro 828934653</p>
  <p>Siège social : 95 rue d'Estienne d'Orves, 92700 Colombes</p>

  <h3>Contact</h3>
  <p>Tél. : 0621134044</p>
  <p>
    <a href="mailto:contact@artfmr.fr">E-Mail : contact@artfmr.fr</a>
  </p>

  <h3>Representant légal</h3>
  <p>ATLANI Julien, Président de ART EPHEMERE SAS</p>

  <h3>TVA</h3>
  <p>Numéro de TVA intracommunautaire : FR33828934653</p>
  <p>
    Le site est hébergé par 1&1 Internet SARL 7, place de la Gare BP 70109 57201
    Sarreguemines Cedex.
  </p>
  <p>
    Les informations concernant la collecte et le traitement des données
    personnelles (politique et déclaration) sont fournies dans la charte de
    données personnelles du site.
  </p>
  <p>Tous droits réservés - 22 août 2017</p>
</div>
