<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue  !</h1>
    <p>
      Vous vous etes inscrit sur ARTFMR, loué soit l'art ! en utilisant l'e-mail suivant <%=@user.email%>
    </p>
    <p>
      En esperant que vous trouverez votre bonheur.
      Pour accéder à votre espace, connectez-vous via : https://artfmr.herokuapp.com/users/sign_in
    </p>
    <p> À très vite sur https://artfmr.herokuapp.com !</p>
  </body>
</html>