
<div class="cont-blue pt-3">

        <div class="box-video-owner bottom: 20px; ">
            <h3 class="text-light py-4 ">DÉCOUVREZ NOTRE CONCEPT EN VIDÉO</h3>
            <iframe class="video-owner pb-4" width="700" height="350" src="https://www.youtube.com/embed/L7TADV2Pt5c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
<br/>
<br/>

</div>

  


    <div class="text-center txt-owner" style="bottom: 20px; top: 20px; ">
        <div class="text-infos">
            <span class="material-icons text-white">attractions</span>
            <h4 class="text-white">Prenez en main votre <br> activité </h4>
            <p class="text-white">Exposez autant d'oeuvres que vous le <br> souhaitez depuis votre page artiste. <br> 
            Définissez vos tarifs, si vous souhaitez <br> vendre ou louer. Géo-localisez vous pour <br> 
            vous rendre visible des clients à proximité. </p>
        </div>
        <div class="text-infos">
            <span class="material-icons text-white">public</span>
            <h4 class="text-white">Vendez à l'international et <br> louez près de chez vous </h4>
            <p class="text-white">Faites vos vente depuis chez vous, envoyez<br> vos oeuvres partout dans le monde. <br> 
            Gérez vos locations depuis l'application, <br> programmez vos rencontres et préparezur <br> 
            vous à faire bonne impression. </p>
        </div>
        <div class="text-infos ">
            <span class="material-icons text-white">wine_bar</span>
            <h4 class="text-white">Rencontrez votre clientèle </h4>
            <p class="text-white">Exposez vos oeuvres directement chez vos <br> clients. Il se peut que ce soit pour un <br> 
            Gévénement, chez un particulier ou encore au <br> sein d'une entreprise.</p>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>

    


