  <%# ---------Jumbotron---------- %>
<div class="cont-blue pt-3">

        <div class="box-video-owner">
            <h3 class="text-light py-4 ">DÉCOUVREZ NOTRE CONCEPT EN VIDÉO</h3>
            <iframe class="video-owner pb-4" width="700" height="350" src="https://www.youtube.com/embed/L7TADV2Pt5c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

</div>

  <%# ---------Cards Infos Concept---------- %>


    <div class="text-center txt-owner">
        <div class="text-infos">
            <span class="material-icons">attractions</span>
            <h4 >Prenez en main votre <br> activité </h4>
            <p>Exposez autant d'oeuvres que vous le <br> souhaitez depuis votre page artiste. <br> 
            Définissez vos tarifs, si vous souhaitez <br> vendre ou louer. Géo-localisez vous pour <br> 
            vous rendre visible des clients à proximité. </p>
        </div>
        <div class="text-infos">
            <span class="material-icons">public</span>
            <h4 >Vendez à l'international et <br> louez près de chez vous </h4>
            <p>Faites vos vente depuis chez vous, envoyez<br> vos oeuvres partout dans le monde. <br> 
            Gérez vos locations depuis l'application, <br> programmez vos rencontres et préparezur <br> 
            vous à faire bonne impression. </p>
        </div>
        <div class="text-infos ">
            <span class="material-icons">wine_bar</span>
            <h4 >Rencontrez votre clientèle </h4>
            <p>Exposez vos oeuvres directement chez vos <br> clients. Il se peut que ce soit pour un <br> 
            Gévénement, chez un particulier ou encore au <br> sein d'une entreprise.</p>
        </div>
    </div>
    


