
    <div class="jumbotron jumbotron-fluid text-white jumbotron-image shadow" style="background-image: url(https://images.unsplash.com/photo-1586023492125-27b2c045efd7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1167&q=80); heigth: 150% ">
      <div class="container py-5">
      <p class="mb-4">
        Achetez, louez, découvrez, rencontrez ...</p>
      <h1 class="mb-4">L'ART QUI S'INVITE CHEZ VOUS</h1>
    </div>
  </div>

  
  <div class=" py-3">
    <h2 class="mb-4 text-center text-white"> VOUS N'AVEZ JAMAIS ÉTÉ AUSSI PROCHES DES ARTISTES</h2>
    <p class="text-center  mb-4 text-white">Chez ART FMR, notre état d'esprit est de mettre en avant nos artistes et oeuvres d'une manière inédite. Nous avons mis en place une offre <br>
    unique consistant à vous mettre en relation avec les artistes vivants près de chez vous, par le biais d'un service de location
    </p>
  </div>


      <div class="box-video">
        <div class="ml-2 mr-2 container-videos">
          <video width="100%" autoplay="autoplay" muted loop>
            <source src="https://vid-cdn.website-editor.net/f85fe6b440cf497d9a264857afbedeec/videos/ZKH7m2HR9ywRBWBFCtLw_INSTA%20-%20ART%20FMR1-v.mp4"/>
          </video>
        </div>

        <div class="mr-2 container-videos">
          <video  width="100%" autoplay="autoplay" muted loop >
            <source src="https://vid-cdn.website-editor.net/f85fe6b440cf497d9a264857afbedeec/videos/asnP8rTzSqafvgYnj2XG_INSTA%20-%20ART%20FMR2-v.mp4"/>
          </video>
        </div>     
        <div class="mr-2 container-videos">
          <video  width="100%" autoplay="autoplay" muted loop>
              <source src="https://vid-cdn.website-editor.net/f85fe6b440cf497d9a264857afbedeec/videos/QKeXKwJ7S6Cn1IC4w3Le_INSTA%20-%20ART%20FMR3-v.mp4" />
          </video>

        </div>
      </div>
<br/>
      <div class="text-video">
          <p class="text-center ml-2 mr-2 text-white">Découvrez chaque jour de nouvelles oeuvres d'artistes venant <br> 
         du monde entier. Chaque oeuvre présente sur ART FMR est en <br> vente</p>

          <p class="text-center mr-2 text-white">Louez des oeuvres d'artistes vivants à proximité de chez vous, et <br> 
         rencontrez les à domicile lors de l'accrochage de l'oeuvre</p>

          <p class="text-center mr-2 text-white">Prolongez vos mois de location, achetez en leasing ou craquezt <br> 
        immédiatement pour une oeuvre que vous ne voulez plus <br> quitter</p>
      </div>



    <div class="youtube" style="bottom: 20px ;top: 40px;">

            <h3 class="text-white text-center">DÉCOUVREZ NOTRE CONCEPT EN VIDÉO</h3><br/>
            <iframe width="700" height="350" src="https://www.youtube.com/embed/L7TADV2Pt5c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

