.footer {
  border-top: 1px solid;
  margin-top: 20px;
  width: 100%;
  color: black;
  letter-spacing: 1px;
}

.footer-col {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer-col li {
  list-style: none;
}
.icones {
  display: flex;
  font-size: 50px;
}

.link-footer:hover {
  color: white;
  text-decoration: none;
}
.link-footer {
  color: black;
}
