.footer {
  margin-top: 20px;
  width: 100%;
  color: black;
  letter-spacing: 1px;
}

.footer-col {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

footer li {
  list-style: none;
}

.icones {
  font-size: 30px;
}
.link-footer {
  color: black;
}

.link-footer:hover {
  color: white;
  text-decoration: none;
}
.link-footer {
  color: black;
}
@media (max-width: 700px) {
  .logo-footer {
    display: none;
  }
}
