.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
}
.middle-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.middle-footer a:hover {
  text-decoration: none;
}
.right-footer {
  display: flex;
  font-size: 25px;
}
@media (max-width: 650px) {
  .logo-footer {
    display: none;
  }
  .middle-footer {
    text-align: left;
  }
  .pl-5 {
    padding-left: 15px !important;
  }
}
