.nav-home {
  display: flex;
  letter-spacing: 0.5px;
}
.logo {
  margin-left: 32px;
  margin-top: -15px;
}
.nav-padding {
  padding: 8px;
  padding-top: 20px;
  height: 88px;
}
.nav-right {
  padding-top: -15px;
  margin-top: -15px;
}
.nav-burger {
  margin-top: -15px;
}
.nav-link :hover {
  color: #000;
}
