.nav-home {
  display: flex;
  letter-spacing: 0.5px;
}

.logo {
  margin-left: 32px;
  margin-top: -85px;
}

.nav-padding {
  padding: 8px;
  padding-top: 20px;
  height: 50px;
}

.nav-right {
  padding-top: -15px;
  margin-top: -15px;
}

.nav-link :hover {
  color: #000;
}

@media (max-width: 600px) {
  .navbar-collapse {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
  }
  .navbar-collapse .nav-link {
    color: #000 !important;
    text-decoration-line: underline;
  }
  .nav-burger {
    margin-top: -25px;
  }
}
