body {
  min-height: 100vh;
  overflow-x: hidden;
  margin-top: 50px;
}

@import url(https://fonts.googleapis.com/css?family=Quando);
*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
