.container-sms{
  /* margin: 30px; */
   width: 50%; 
  /* left: 25%; */
  /* display: inline-block; */
  background-color: #D8E5EC; 
  
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.content-sms-artist{
  top: 80px;
  display: flex;
  justify-content: center;
  
}
.list-conv{
  background-color:#d0dfe7;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 15%;
}

.item-name{
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
  border-bottom: black solid 1px;
  top: 10px;
  font-size: 1.2em;
  text-transform: uppercase;
}

.item-name:hover{
  text-decoration: none;
  color: black;
 
}
.scroll-sms{
  overflow-y: scroll;
  height: 500px;
}
.current_user-sms{
  float: right;
}

.list-sms{
  background-color: #41B2CB;
  height: 40px;
  top: 10px;
  bottom: 10px;
  width: 100%;
  text-align: center;
  border-radius: 12px;
}
.list{
  background-color: #358293;
  height: 40px;
  top: 10px;
  bottom: 10px;
  width: 100%;
  text-align: center;
  border-radius: 12px;
}
.sms-body{
  font-size: 18px;
  top: 25%;
}

.group-sms-current_user{
  margin: 10px;
}

.group-sms{
  display: flex;
}

.group-sms-user{
  margin: 10px;
}

.btn-sms{
  margin-left: 10px;
  height: 100%;
}


@media screen and (max-width: 990px) {
  .list {
    height: 100%;
  }
  .list-sms {
    height: 100%;
  }
  .group-sms{
    display: inline-block;
    
  } 
}
@media screen and (max-width: 750px) {
  .item-name{
    display: none;
  }
  .list-conv{
    display: none;
  }
  .container-sms{
    width: 100%;
    border-radius: 20px;
    bottom: 50px;
  }
  .group-sms{
    width: 100%;
  }
}