/*Index*/

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 90%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  background-color: #93876C;
  color: white;
  transform: rotateY(180deg);
}

.link-show-product{
  float: right;
  padding: 5px;
  
}
.btn-heart:hover{
  text-decoration: none;
  color: white;
}
.link-show-product:hover{
  text-decoration: #93876C;
  
}
.product-description{
  padding: 5px;

}
.product-description:hover{
  padding: 5px;
  text-decoration: none;
}

.product {
  min-width: 250px;
  max-height: 250px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}

.product:hover {
  transform: scale(0.99);
}
.all-product {
  width: auto;
}
/*Show*/
.show-product {
  border: 1px solid rgba(236, 240, 241, 0.781);
  border-radius: 5px;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.5);

  padding: 10px;
  background-color: rgb(236, 240, 241);
  width: 100%;
}
.show-img {
  width: 100%;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@media (min-width: 990px) {
  .show-product {
    display: flex;
    align-items: center;
  }
  .show-img {
    max-width: 600px;
    max-height: 600px;
    margin-right: 20px;
    width: auto;
  }
}

.ul-show-product {
  width: atuo;
  height: 200px;
  justify-content: space-around;
  margin-top: 20px;
}
.btn-show-product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* INDEX view cart hover */

.all-product,
.product-img {
  overflow: hidden;
  position: relative;
}

.mb-45 {
  margin-bottom: 45px;
}

.product-action {
  bottom: 0px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all 0.6s ease 0s;
}

.all-product {
  border-radius: 0px;
}

.product-img > span {
  background-color: #fff;
  box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
  color: #333;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  left: 20px;
  letter-spacing: 1px;
  padding: 3px 12px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 20px;
}

.product-action-style {
  background-color: #fff;
  box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
  display: inline-block;
  padding: 6px 2px 12px;
}

.product-action-style > a {
  color: #979797;
  line-height: 1;
  padding: 0 21px;
  position: relative;
  text-decoration: none;
}

.product-action-style > a.action-plus {
  font-size: 18px;
}

.all-product:hover .product-action {
  bottom: 20px;
  opacity: 1;
}

/* card-product */

.square {
  position: relative;
  width: 100%;
  height: 400px;
  border: 2px solid #282828;
  transform: scale(0.9);
  right: 10px;
  bottom: 10px;
}
.square:nth-child(1) {
  position: relative;
  width: 100%;
  height: 400px;
  border: 2px solid #282828;
  transform: scale(1);
  top: 15px;
  left: 20px;
}

.box-content {
  bottom: 370px;
  left: 15px;
}

.del-li {
  width: 60%;
  height: auto;
  margin-left: 17px; 
}

.card-status {
  position: absolute;
  top: 5px;
  right: 30px;
  pointer-events: none;
}

.box-text {
  font-family: 'Roboto';
  font-weight: 400;
  width: 400px;
  overflow-wrap: break-word;
}

.title-text-sp{
  font-size: 32px;
}
.box-price {
  position: fixed;
  text-align: right;
  right: 15px;
  bottom: 65px;
  width: 250px;
  height: auto;
}
.price-p{
  font-size: 20px;
}

.png-min {
  transform: scale(0.5);
}
.field_avatar {
  background-color: #e0e1da;
  border: none;
  right: 2%;
}
.field_price {
  background-color: #e0e1da;
  border-bottom: 2px solid #282828;
}

.btn-new {
  background-color: #212529;
  color: white;
}

.btn-new:hover {
  background-color: white;
  color: #212529;
}

.h1-index {
  font-size: 90px;
  color: white;
  background-attachment: fixed;
}

