.photo-profil {
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.number-location-buy-favorites {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.profil-description {
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  margin: 10px;
  padding: 10px;
  width: 100%;
  background-color: white;
}
.first-part {
  display: flex;
  width: 100%;
}
.btn-profil {
  display: flex;
  justify-content: flex-end;
}

/*My art*/
.my-art {
  display: flex;
  width: 100%;
  height: 300px;
  overflow-x: scroll;
  align-items: center;
}
.img-my-art {
  width: 200px;
  height: 200px;
  margin: 5px;
  transition: 0.5s;
  border-radius: 2px;
  box-shadow: 0 0 10px #000000;
}
.img-my-art:hover {
  transform: scale(0.9);
}
.my-art-all {
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  padding: 10px;
  margin: 10px;
  background-color: white;
}
.one-art {
  display: flex;
  flex-direction: column;
}

.my-art-bis {
  display: flex;
}
.btn-art {
  align-self: center;
}

/*My favorite*/
.my-favorites-all {
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.my-favorites {
  display: flex;
  width: 100%;
  height: 300px;
  overflow-x: scroll;
  align-items: center;
}

/*Mes locations*/

.my-location-all {
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  padding: 10px;
  margin: 10px;
  background-color: white;
  overflow-y: scroll;
  height: 480px;
}
.my-location,
.m-location-bis {
  display: flex;
  flex-direction: column;
}
.m-location {
  display: flex;
}

/*My order*/
.my-order-all {
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  padding: 10px;
  margin: 10px;

  background-color: white;
}
.my-order {
  display: flex;
  width: 100%;
  height: 300px;
  overflow-x: scroll;
  align-items: center;
}

/*Artiste profil page*/

.artist-profil-for-artlover {
  width: 300px;
  align-self: center;
}

/*NAV NAVIGATION PROFIL*/
.nav-tab-home-made {
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  margin: 10px;
  padding: 10px;
}
