.photo-profil {
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.number-location-buy-favorites {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.profil-description {
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  margin: 10px;
  padding: 10px;
  width: 100%;
  background-color: white;
}
.first-part {
  display: flex;
  width: 100%;
}
.btn-profil {
  display: flex;
  justify-content: flex-end;
}

/*My art*/
.my-art {
  display: flex;
  width: 100%;
  height: 300px;
  overflow-x: scroll;
}
.img-my-art {
  width: 200px;
  height: 200px;
  margin: 5px;
}
.my-art-all {
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  padding: 10px;
  margin: 10px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: white;
}
.one-art {
  display: flex;
  flex-direction: column;
}
.btn-art {
  align-self: center;
  display: none;
}

.one-art:hover .btn-art {
  display: block;
}

/*My favorite*/
.my-favorites-all {
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  padding: 10px;
  margin: 10px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: white;
}

.my-favorites {
  display: flex;
  width: 100%;
  height: 300px;
  overflow-x: scroll;
}

/*Mes locations*/

.my-location-all {
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  padding: 10px;
  margin: 10px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: white;
}
.my-location {
  display: flex;
  width: 100%;
  height: 300px;
  overflow-x: scroll;
}

/*My order*/
.my-order-all {
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  padding: 10px;
  margin: 10px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: white;
}
.my-order {
  display: flex;
  width: 100%;
  height: 300px;
  overflow-x: scroll;
}
