
 

<h2 class="text-center">Nos produits</h2>

<div class="all-product col-12 text-center">
  <% @products.each do |product| %>
    <a href="<%= product_path(id: product.id) %>" class="card-clic">
    <% if product.avatar.attached?%>
      <%= image_tag product.avatar, class: "product m-0 p-0"%>
    </a>
    <% else %>
      <img src="<%= product.image_url%>" class="product m-0 p-0">
    </a>
    <%end %>
  <% end%>
</div>