
    <div class="footer">
        <footer class="bg-primary">
            <div>
                <div class="footer-col ml-3 mr-3">
                    <div>
                        <img  src="https://le-cdn.website-editor.net/f85fe6b440cf497d9a264857afbedeec/dms3rep/multi/opt/ArtFMR_Logo_vDef-42e956f6-138w.png" width="100">
                    </div>
                                           
                     <div>           
                        <ul >
                            <li >
                                <a href="/users/sign_up" class="link-footer" >Inscription</a>
                            </li>
                            <li>
                                <a href="/users/sign_in" class="link-footer">Connexion</a>
                            </li>
                            <li>
                                <p>Concepts : </p>
                                <p><a href="/users/taker" class="link-footer">Acheteur/Loueur</a></p>
                                <p><a href="/users/owner" class="link-footer">Artist</a></p>
                                
                            </li>   
                        </ul>
                    </div>
                 
                    <div>

                        <ul>
                            <li>
                                <p>Nous appeler  :</p>
                                <p>+33 621 134044</p>
                            </li>
                            <li><p>E-mail  : </p>
                                <p><a href="mailto:contact@artfmr.fr" class="link-footer">contact@artfmr.fr</a></p>
                            </li>

                            
                        </ul>
                    </div>
                     <div>
                        <ul>
                            <li>
                                <a href="/static_pages/legal_mention" class="link-footer">Mentions legals</a>
                            </li>
                            <li>
                                <a  href="/static_pages/faq" class="link-footer" >FAQ</a>
                            </li>
                        </ul>
                     </div>
                    <div>
                        <p>Suivez-nous : </p>
                        <ul class="icones">
                            <li><a href="https://www.facebook.com/galerieartfmr"><i class="icon ion-social-facebook link-footer"></i></a></li>

                            <li><a href="https://www.instagram.com/galerieartfmr/" class="ml-3"><i class="icon ion-social-instagram link-footer"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
