
    <div class="footer">
        <footer class="bg-primary">
            <div class="container">
                <div class="footer-col">
                    <div class="col-sm-4 col-md-3">
                        <img  src="https://le-cdn.website-editor.net/f85fe6b440cf497d9a264857afbedeec/dms3rep/multi/opt/ArtFMR_Logo_vDef-42e956f6-138w.png" width="100">
                    </div>
                    <div class="col-sm-4 col-md-3">

                        <ul>
                            <li>
                                <p>Nous appeler  : +33 621 134044</p>
                            </li>
                            <li><p>E-mail  : <a href="mailto:contact@artfmr.fr">contact@artfmr.fr</a></p></li>
                            <li>
                                <a class="nav-link" href="/static_pages/faq">FAQ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <h5>Suivez-nous</h5>
                        <ul class="icones">
                            <li><a href="https://www.facebook.com/galerieartfmr"><i class="icon ion-social-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/galerieartfmr/" class="ml-5"><i class="icon ion-social-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
