
    <div class="footer">
        <footer class="bg-primary">
            <div class="container">
                <div class="footer-col">
                    <div class="col-sm-4 col-md-3">
                        <h3>ARTFMR</h3>
                        <h6>Loué soit l'art</h6>

                    </div>
                    <div class="col-sm-4 col-md-3">

                        <ul>
                            <li>
                                <p>Nous appeler  : </p>
                                <p>+33 621 134044</p>
                            </li>
                            <li><p>E-mail  : </p><a href="mailto:contact@artfmr.fr">contact@artfmr.fr</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <h5>Suivez-nous</h5>
                        <ul class="icones">
                            <li><a href="https://www.facebook.com/galerieartfmr"><i class="icon ion-social-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/galerieartfmr/" class="ml-5"><i class="icon ion-social-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
   