<footer class="bg-primary">
  <div class="footer">
    <div class="logo-footer"> 
      <img  src="https://le-cdn.website-editor.net/f85fe6b440cf497d9a264857afbedeec/dms3rep/multi/opt/ArtFMR_Logo_vDef-42e956f6-138w.png" width="100" >
    </div>
    <div class="middle-footer">
      <div class="middle-footer1">
        <a href="/users/owner">Artist</a>
        <a href="/users/taker" class="pl-5">Arts Lover</a>
      </div>
      <div class="middle-footer1">
        <% if user_signed_in? %>
          <%= link_to 'Se deconnecter', destroy_user_session_path, method: :delete %> 
        <%else%>
          <a href="/users/sign_in" >Connexion</a>
          <a href="/users/sign_up" class="pl-5" >Inscription</a>
        <%end%>
        <a href="#" class="pl-5">Nous contacter</a>
      </div>
      <div class="middle-footer1">
        <a href="/static_pages/legal_mention">Mentions legals</a>
        <a href="/static_pages/faq" class="pl-5" >FAQ</a>
      </div>
    </div>
    <div class="right-footer">
      <a href="https://www.facebook.com/galerieartfmr" target="_blank"><i class="icon ion-social-facebook link-footer"></i></a>
      <a href="https://www.instagram.com/galerieartfmr/" target="_blank"><i class="icon ion-social-instagram link-footer"></i></a>
    </div>
  </div>
</footer>
